@model int
@{
    ViewData["Title"] = "Angelegt";
}

<h3>Artikel wurde angelegt</h3>
<h6>@Model sind auf der Liste</h6>

<form>
    <button asp-controller="Home" asp-action="Index">Startseite</button>
    <button asp-controller="Home" asp-action="ArtikelForm">Artikel hinzufügen</button>
    <button asp-controller="Home" asp-action="ArtikelAnsehen" autofocus>Einkaufsliste</button>
</form>

<!--
Nach Angelegt.cshtml
Zeigt wieviele Artikel auf liste
Button: Startseite
Button: ArtikelForm.cshtml
-->