@model Einkaufsliste.Models.Position

@{
    ViewData["Title"] = "ArtikelForm";
}


<form asp-action="ArtikelForm" method="post">
    <label asp-for="Name">Artikelname:</label>
    <input asp-for="Name"/>
    <label asp-for="Menge">Menge: </label>
    <input asp-for="Menge"/>
    <label asp-for="Shop">Gesch채ft: </label>
    <input asp-for="Shop"/>

    <button type="submit">Best채tigen</button>
    <button asp-controller="Home" asp-action="Index">Zur체ck</button>

    <div asp-validation-summary="All"></div>
</form>
<!--
neuer Artikel eingeben
2 Button "Speichern", "Zur체ck"
-->