@model Einkaufsliste.Models.Position

@{
    ViewData["Title"] = "ArtikelForm";
}

<form asp-action="ArtikelForm" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Artikelname:</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Artikelname" autofocus/>
        
    </div>
    <div class="mb-3">
        <label asp-for="Menge" class="form-label">Menge:</label>
        <input asp-for="Menge" type="text" class="form-control" placeholder="Menge"/>
    </div>
    <div class="mb-3">

    <label asp-for="Shop" class="form-label">Geschäft:</label>
    <input list="Shops" asp-for="Shop" type="text" class="form-control" placeholder="Geschäft"/>
    <datalist id="Shops">
        @foreach (string s in Repository.Shops)
        {
            <option value="@s">@s</option>
        }

    </datalist>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="submit" class="btn btn-secondary">Bestätigen</button>
    <button asp-controller="Home" asp-action="Index" class="btn btn-secondary">Zurück</button>
    </div>

    <div asp-validation-summary="All"></div>
</form>
<!--
neuer Artikel eingeben
2 Button "Speichern", "Zurück"
-->