@{
    ViewData["Title"] = "Home Page";
}

<!-- 
Zwei button -> Artikel hinzufügen, Einkaufsliste anzeigen
-->
<form>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button asp-controller="Home" asp-action="ArtikelForm" class="btn btn-secondary">Artikel hinzufügen</button>
        <button asp-controller="Home" asp-action="ArtikelAnsehen" class="btn btn-secondary" autofocus>Einkaufsliste anzeigen</button>
    </div>
   

</form>
