@{
    ViewData["Title"] = "Home Page";
}

<!-- 
Zwei button -> Artikel hinzufügen, Einkaufsliste anzeigen
-->
<form>
<button asp-controller="Home" asp-action="ArtikelForm">Artikel hinzufügen</button>
<button asp-controller="Home" asp-action="ArtikelAnsehen" autofocus>Einkaufsliste anzeigen</button>
    
</form>
