@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    
    <form>
        <button class="button" asp-controller="Home" asp-action="AboutMe">AboutMe</button>
    </form>
    
</div>